@import "../../global-variables.scss";

.icon-style {
  color: $primary-color;
}

.active {
  color: $alt-font-color;
  background-color: $primary-color;
  border-radius: 5px;
}

.active > .icon-style {
  color: $alt-font-color;
}

.label-style{
    font-size: 17px;
    text-wrap: nowrap;
    color: black;
}
@media screen and (max-width: 600px) {

  .label-style{
    font-size: 13px;
  }

}
