.navbar {
    position: fixed;
    bottom: 10%;
    right: 5%;

}
.comapany-banner {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  height: 70px;
  align-items: center;
}
.main-content{
  width: 70%;
  min-height: 100vh;
  margin: auto;
}

@media screen and (max-width: 600px) {

  .main-content {
    width: 100vw;
  }

  .navbar{
    bottom: 5%;
  }
}
